/*=============================================
=                   COLORS                    =
=============================================*/

$brand: rgba(33, 117, 155, 1);
$brand-alt: rgba(45, 112, 143, 1);
$blue: rgba(225, 241, 251, 1);
$pink: rgba(254, 228, 219, 1);
$yellow: rgba(251, 231, 183, 1);
$white: rgba(254, 254, 254, 1);
$light-grey: rgba(252, 252, 252, 1);
$bg: rgba(246,247, 250, 1);
$black: rgba(44, 43, 45, 1);
$green: rgba(194, 229, 214, 1);
$border: rgba(205, 205, 205, 1);
$footer: lighten($yellow, 6);
$alert: rgb(232, 139, 139);

.overlay-left,  .overlay-right,  .overlay-top,  .overlay-bottom   {
    background: $pink !important;
}